<div>
  <div class="col-md-3 movies">
    <a ui-sref="home">
    <h4>2001: A Space Odyssey</h4>
    <img src="/moviepic/2001.jpg">
    </a>
  </div>
  <div class="col-md-3 movies">
    <a ui-sref="home">
    <h4>North by Northwest</h4>
    <img src="/moviepic/northwest.jpg">
    </a>
  </div>
  <div class="col-md-3 movies">
    <a ui-sref="home">
      <h4>Paul Blart: Mall Cop</h4>
      <img src="/moviepic/paulblart.jpg">
    </a>
  </div>
  <div class="col-md-3 movies">
    <a ui-sref="home">
    <h4>The Usual Suspects</h4>
    <img src="/moviepic/suspects.jpg">
    </a>
  </div>
  <div class="col-md-3 movies">
    <a ui-sref="home">
    <h4>The Shining</h4>
    <img src="/moviepic/theshining.jpg">
  </div>
  <div class="col-md-3 movies">
    <a ui-sref="home">
    <h4>Vertigo</h4>
    <img src="/moviepic/vertigo.jpg">
    </a>
  </div>
  <div class="col-md-3 movies">
    <a ui-sref="home">
    <h4>Young Frankenstein</h4>
    <img src="/moviepic/youngfrank.jpg">
    </a>
  </div>
  <div class="col-md-3 movies">
    <a ui-sref="home">
    <h4>Zodiac</h4>
    <img src="/moviepic/zodiac.jpg">
  </div>
  <div class="col-md-3 movies">
    <a ui-sref="home">
    <h4>Alien</h4>
    <img src="/moviepic/alien.jpg">
    </a>
  </div>
  <div class="col-md-3 movies">
    <a ui-sref="home">
    <h4>Blade Runner</h4>
    <img src="/moviepic/bladerunner.jpg">
    </a>
  </div>
  <div class="col-md-3 movies">
    <a ui-sref="home">
    <h4>Blazing Saddles</h4>
    <img src="/moviepic/blazingsaddles.jpg">
    </a>
  </div>
  <div class="col-md-3 movies">
    <a ui-sref="home">
    <h4>The Exorcist</h4>
    <img src="/moviepic/exorcist.jpg">
    </a>
  </div>
  <div class="col-md-3 movies">
    <a ui-sref="home">
    <h4>Friday the 13th</h4>
    <img src="/moviepic/friday13.jpg">
    </a>
  </div>
  <div class="col-md-3 movies">
    <a ui-sref="home">
    <h4>The Matrix</h4>
    <img src="/moviepic/matrix.jpg">
    </a>
  </div>
  <div class="col-md-3 movies">
    <a ui-sref="home">
    <h4>Monty Python and the Holy Grail</h4>
    <img src="/moviepic/MontyPython.jpg">
    </a>
  </div>
  <div class="col-md-3 movies">
    <a ui-sref="home">
    <h4>A Nightmare on Elm Street</h4>
    <img src="/moviepic/nightmare.jpg">
    </a>
  </div>

</div>
